tags_cliente/v2/src/conf/xml-resources/web-service-references/prevencion/wsdl/localhost_8080/Servidor/prevencion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor.tds.escom/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor.tds.escom/" name="prevencion">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor.tds.escom/" schemaLocation="http://localhost:8080/Servidor/prevencion?xsd=1"/>
</xsd:schema>
</types>
<message name="consultaBase">
<part name="parameters" element="tns:consultaBase"/>
</message>
<message name="consultaBaseResponse">
<part name="parameters" element="tns:consultaBaseResponse"/>
</message>
<message name="procesaInformacion">
<part name="parameters" element="tns:procesaInformacion"/>
</message>
<message name="procesaInformacionResponse">
<part name="parameters" element="tns:procesaInformacionResponse"/>
</message>
<message name="consultaProcesa">
<part name="parameters" element="tns:consultaProcesa"/>
</message>
<message name="consultaProcesaResponse">
<part name="parameters" element="tns:consultaProcesaResponse"/>
</message>
<message name="consulta1Mes">
<part name="parameters" element="tns:consulta1Mes"/>
</message>
<message name="consulta1MesResponse">
<part name="parameters" element="tns:consulta1MesResponse"/>
</message>
<message name="consulta3Meses">
<part name="parameters" element="tns:consulta3Meses"/>
</message>
<message name="consulta3MesesResponse">
<part name="parameters" element="tns:consulta3MesesResponse"/>
</message>
<message name="consulta1Ano">
<part name="parameters" element="tns:consulta1Ano"/>
</message>
<message name="consulta1AnoResponse">
<part name="parameters" element="tns:consulta1AnoResponse"/>
</message>
<message name="verificaUsr">
<part name="parameters" element="tns:verificaUsr"/>
</message>
<message name="verificaUsrResponse">
<part name="parameters" element="tns:verificaUsrResponse"/>
</message>
<portType name="prevencion">
<operation name="consultaBase">
<input wsam:Action="http://servidor.tds.escom/prevencion/consultaBaseRequest" message="tns:consultaBase"/>
<output wsam:Action="http://servidor.tds.escom/prevencion/consultaBaseResponse" message="tns:consultaBaseResponse"/>
</operation>
<operation name="procesaInformacion">
<input wsam:Action="http://servidor.tds.escom/prevencion/procesaInformacionRequest" message="tns:procesaInformacion"/>
<output wsam:Action="http://servidor.tds.escom/prevencion/procesaInformacionResponse" message="tns:procesaInformacionResponse"/>
</operation>
<operation name="consultaProcesa">
<input wsam:Action="http://servidor.tds.escom/prevencion/consultaProcesaRequest" message="tns:consultaProcesa"/>
<output wsam:Action="http://servidor.tds.escom/prevencion/consultaProcesaResponse" message="tns:consultaProcesaResponse"/>
</operation>
<operation name="consulta1Mes">
<input wsam:Action="http://servidor.tds.escom/prevencion/consulta1MesRequest" message="tns:consulta1Mes"/>
<output wsam:Action="http://servidor.tds.escom/prevencion/consulta1MesResponse" message="tns:consulta1MesResponse"/>
</operation>
<operation name="consulta3Meses">
<input wsam:Action="http://servidor.tds.escom/prevencion/consulta3MesesRequest" message="tns:consulta3Meses"/>
<output wsam:Action="http://servidor.tds.escom/prevencion/consulta3MesesResponse" message="tns:consulta3MesesResponse"/>
</operation>
<operation name="consulta1Ano">
<input wsam:Action="http://servidor.tds.escom/prevencion/consulta1AnoRequest" message="tns:consulta1Ano"/>
<output wsam:Action="http://servidor.tds.escom/prevencion/consulta1AnoResponse" message="tns:consulta1AnoResponse"/>
</operation>
<operation name="verificaUsr">
<input wsam:Action="http://servidor.tds.escom/prevencion/verificaUsrRequest" message="tns:verificaUsr"/>
<output wsam:Action="http://servidor.tds.escom/prevencion/verificaUsrResponse" message="tns:verificaUsrResponse"/>
</operation>
</portType>
<binding name="prevencionPortBinding" type="tns:prevencion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultaBase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="procesaInformacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaProcesa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consulta1Mes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consulta3Meses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consulta1Ano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificaUsr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="prevencion">
<port name="prevencionPort" binding="tns:prevencionPortBinding">
<soap:address location="http://localhost:8080/Servidor/prevencion"/>
</port>
</service>
</definitions>