cliente/ClienteGUI/src/conf/xml-resources/web-service-references/prevencion/wsdl/localhost_8080/Servidor/prevencion.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://servidor.tds.escom/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servidor.tds.escom/">

<xs:element name="consultaBase" type="tns:consultaBase"/>

<xs:element name="consultaBaseResponse" type="tns:consultaBaseResponse"/>

<xs:element name="procesaInformacion" type="tns:procesaInformacion"/>

<xs:element name="procesaInformacionResponse" type="tns:procesaInformacionResponse"/>

<xs:complexType name="consultaBase">
<xs:sequence>
<xs:element name="sqlString" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaBaseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesaInformacion">
<xs:sequence>
<xs:element name="sqlString" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="procesaInformacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>